* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333138;
  color:#fff;
  height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundImg{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 360px;
  height: 360px;
}

.title {
  padding: 1rem;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h3 {
  font-size: 4rem;
}

.content {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.content button {
  width: 500px;
  padding: 2rem;
  border-radius: 16px;
  border: 0;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  background: #7289da;
  font-size: 3rem;
  color: #fff;
  transition: transform 0.2s;
  margin-bottom: 10rem;
}

.content button:hover {
  transform: translateY(-10px);
}

.card {
  height: 300px;
  width: 300px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  border-top: 1px  solid #fff;
  cursor: pointer;
  position: relative;
}

.card img {
  height: 180px;
  width: 180px;
}

.card p {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000;
  width: 100%;
  text-align: center;
}

.card span {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.2s;
}

.shiny {
  visibility: hidden;
  position: absolute;
}

.card:hover .front {
  display: none;
}

.card:hover .shiny {
  visibility: visible;
  position: relative;
}

.card:hover span {
  transform: translateY(0px);
  opacity: 1;
}


/*============== Pokemon Types ==============*/

.normal {
  background: #fff;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.fighting {
  background: #f00;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.flying {
  background: #90e0ef;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.poison { 
  background: #7209b7;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.ground {
  background: #7f4724;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.rock {
  background: #343a40;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.bug {
  background: #deaaff;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.ghost {
  background: #bdb2ff;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.steel {
  background: #6c757d;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.fire {
  background: #ca6702;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.water {
  background: #00bbf9;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.grass {
  background: #0f0;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.electric {
  background: #ffb703;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.psychic {
  background: #ffcbd2;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.ice {
  background: #0077b6;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.dragon {
  background: #1d3557;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.dark {
  background: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.fairy {
  background: #f15bb5;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.unknown {
  background: #e2eafc;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.shadow {
  background: #006466;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}